@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500&family=Open+Sans:wght@300;400&display=swap");

//FONTS

$lex: "Lexend", sans-serif;
$open: "Open Sans", sans-serif;

//FONT WEIGHT
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;

//COLORS
$primary: #9ac8cd;
$green: #6f9993;
$text: #4d5057;
$lightblu: #cde4e6;
$purewhite: #fff;
$pale: #e6f2f3;
