.menu-item-has-children {
  .sub-menu {
    list-style-type: none;
    position: absolute;
    text-align: left;
    padding: 1% 0% 0% 0%;
    li {
      a {
        text-decoration: none;
        font-size: 1em;
        color: $text;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.header {
  .main-menu-container {
    a {
      text-decoration: none;
      color: $text;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
